body,ul,li,a{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration:none; 
}
#lunbo{
    margin-left:300px;
}
.lunbocontainer{
    position: relative;
    width: 520px; 
    height: 280px;
    border: 12px solid #000000;
    margin: 100px auto;
    overflow: hidden;
    float: left;
}
.lunbomain{
    position: absolute;
    width: 2600px;
    height: 280;
    font-size: 0px;
    left: -520px;
}
.lunboList{
   position: absolute;
   bottom: 20px;
   background: rgba(255,255,255, 0.3);
   font-size: 0%;
   border-radius: 8px;
   left: 50%;
   margin-left: -21px;
}
.lunboList li{
    display: inline-block;
    border: 1px solid #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #CCC;
    margin: 3px;
    cursor: pointer;
    
}
/* 权重问题 */
.lunboList .lunboactive{
    background: orangered;
}
.lunbobtn{
    display: block;
    position: absolute;
    bottom: 50%;
    margin-bottom: -20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0,0, 0.3);
}
#lunboaright{
    left: 100%;
    margin-left: -40px; 
}
.lunboleft{
    width: 174px;
    height: 280px;
    margin-top:100px;
    margin-left: 20px;
    float: left;
}
/* .left li{
    width: 174px;
    height: 93px;
} */
.lunboleft li img{
    width: 174px;
    height: 93px;
    padding-top:5px;
}
.clearFloat::after{
    content: "";
    display: block;
    clear: both;
}