
#circleHandle{

    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin:100px  auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circleHandle .circleParent{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 50%;
}
#circleHandle .circleParent .circleChild{
    margin: 100px auto;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}
